{% extends 'model.html' %}
{% load static %}
{% block cssBlock %}
  <link rel="stylesheet" href="{%static 'pageCss/SubCategories.css'%}">
{% endblock cssBlock %}

{%block menu%}
 <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" href="#">Blogs</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target=".supplierSignUp">List Business</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Get Quotes</a>
            </li>
            <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: transparent;
                border: transparent; font-size: 2.5vh;">
                    Login
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#supplierSignIn">Seller</button>
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#customerSignIn">Customer</button>
                </div>
            </div>
            </li>
        </ul>

{%endblock%}


{% block mainblock%}
<div class="container-fluid CategoryHead">
  <div class="heading justify-content-center input-group mt-1">
    <h2>{{category}}</h2>
  </div>

  <section class="ftco-section ftco-no-pt ftco-intro mt-3">
      <div class="container mt-3">
      {% for sub in subCategory %}
        {% if forloop.first %}<div class="row">{% endif %}
          {% csrf_token %}
          <div class="col-md-4 d-flex align-self-stretch subCategory" id = "{{sub.id}}">
            <div class="d-block services text-center">
              <div class="media-body">
                <h3 class="heading" data-id = "{{sub.id}}">{{sub.name}}</h3>
                <img src="{{ sub.image.url }}"/>
                <h6>{{sub.image}}</h6>
              </div>
            </div>    
          </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% endfor %}
        
      
      </div>
    </section>
</div>  
<!--/. Sub Categories-->


<div class="modal fade" id="category" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content w3-animate-zoom">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agriculture Ground & Crop Covers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="categroyList list-group list-group-flush">
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="m-0"></div>
<div class="m-0"></div>

</div>

<script>

$(document).on("click", ".subCategory", function () {
  var id = $(this).attr('id');
  console.log(id)
  $.ajax({
      type:'POST',
      url:'getCategories',
      data:{ 
        subCatId : id,        
        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
      },
      success:function(response){
        console.log("this is it \n" + response.category['0']['fields']['name'])
        var category = response.category
        var size = category['length']
        $('.categroyList').empty()
        for(var i = 0; i < size; i++)
        {
          $('.categroyList').append('<li class="list-group-item d-flex justify-content-between">' + response.category[i]['fields']['name'] + '</li>');
        }
        $('#category').modal('show')
      }
    });
});

</script>

{%  endblock %}

