{% extends 'model.html' %}
{% load static %}

{% block scriptBlock%}
  <link rel="stylesheet" href="{%static 'bootstrapTable/bootstrap-table.min.css'%}">
  <script src="{%static 'bootstrapTable/bootstrap-table.min.js'%}"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% endblock %}

{% block cssBlock %}
  <link rel="stylesheet" href="{%static 'pageCss/SupplierProfile.css'%}">
{% endblock cssBlock %}


{% block mainblock %}

<div class = "container-fluid p-0 mainFrame">
    <ul class="nav nav-tabs" id="myTab" role="tablist">     
        <li class="nav-item">
          <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="txab" aria-controls="contact" aria-selected="false">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Subscription</a>
        </li>
        <li class="nav-item ml-auto">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #303A52;">
          Hello ! {{supplier.full_name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>

    <!-- ----------------------------List Visibled on incomplete Details -->
    
    {% if business == "Not Found" or desgination == "Not Found"%}
    
    <div class="container-fluid">
      <div class="container"  style="padding-bottom: 15%; padding-top: 15%; text-align: center;">
        <h3>Your profile is incomplete please add following details</h3>
        <ul style="list-style: none;">

          {% if designation == "Not Found" %}
          <li><button class="p-1 btn-primary" data-toggle="modal" data-target = ".editPersonalDetail">Add Personal Information</button>
            <span class = "updateStatus" id = "personalUpdateStatus"></span>
          </li>
          {% endif %}

          {% if business == "Not Found" %}
          <li><button class=" p-1 mt-2 btn-primary" data-toggle="modal" data-target = ".editBusinessDetail">Add Business Information</button>
            <span class = "updateStatus" id = "businessUpdateStatus"></span>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>

    {% else %}
    
    <!-- --------------------------  --Tab Content -->
    <div class="tab-content" id="myTabContent">
      
        <!-- Tab One -->
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">    
          <!-- Comapny  Card -->
          <div class="container comapnyCard">
            <div class="row comapnyCardParent">
              <div class="col-md-3 companyLogo">
                <img src="https://5.imimg.com/data5/HK/QU/MY-47419749/agriconic-machineries-private-limited-120x120.png" alt="Comapny Logo">
              </div>
              <div class="col-md-9 comapnyDescription">
                <h4 class="text-center">{{business.name}}</h4>
                <span>{{business.description}}</span>
              </div>
            </div>
          </div>
          <hr>
          <!-- Identification Information -->

          <div class="container IdentificationInfo">
            <h4 class="text-center">Identification Number</h4>

            <div class="row">
              <div class="col-sm col-md col-lg">
                <h6 class="text-center">GST</h6>
                <h6 class="text-center">{{business.GST}}</h6>
              </div>
              <div class="col-sm col-md col-lg">
                <h6 class="text-center">PAN</h6>
                <h6 class="text-center">{{business.PAN}}</h6>
              </div>
              <div class="col-sm col-md col-lg">
                <h6 class="text-center">CIN</h6>
                <h6 class="text-center">{{business.CIN}}</h6>
              </div>
              <div class="col-sm col-md col-lg">
                <h6 class="text-center">DGFT</h6>
                <h6 class="text-center">{{business.DGFT}}</h6>
              </div>
            </div>
          </div>

           <!-- Business Information -->
          <div class="container-fluid organizationInfo mt-3">

            <div class="text-center">
              <span class="infomationTitle">
                Business Details
              </span>
              <button class="float-right btn-primary" data-toggle="modal" data-target = ".updateBusinessDetail">Edit</button>
            </div>

            <div class="row pt-3">
              <div class="col-sm col-md col-lg">
                <table>
                  <tr>
                    <td>Business Type</td>
                    <td class="tableData" id = "BusinessType">{{business.business_type}}</td>
                  </tr>

                  <tr>
                    <td>Business Email</td>
                    <td class="tableData" id = "BusinessEmail">{{business.business_email}}</td>
                  </tr>

                  <tr>
                    <td>Organization Type</td>
                    <td class="tableData" id = "OrganisationType">{{business.organisation_type}}</td>
                  </tr>

                  <tr>
                    <td>Ownership Type</td>
                    <td class="tableData" id = "OwnershipType">{{business.ownership_type}}</td>
                  </tr>
                </table>
              </div>
              <div class="col-sm col-md col-lg">
                <table>
                  <tr>
                    <td>Website Link</td>
                    <td class="tableData" id = "WebsiteLink">{{business.website_link}}</td>
                  </tr>

                  <tr>
                    <td>Address</td>
                    <td class="tableData" id = "Address">{{business.address}}</td>
                  </tr>

                  <tr>
                    <td>Year Of Establishment</td>
                    <td class="tableData">{{business.year_of_establishment}}</td>
                  </tr>

                  <tr>
                    <td>Description</td>
                    <td class="tableData">{{business.description}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

           <!-- Personal Information -->
          <div class="container-fluid personalInfo mt-3">
            <div class="text-center">
              <span class="infomationTitle">
                Personal Details
              </span>
              <button class="float-right btn-primary" data-toggle="modal" data-target = ".updatePersonalDetail">Edit</button>
            </div>

            <div class="row pt-3">
              <div class="col-sm col-md col-lg">
               <table>
                 <tr>
                   <td>Name</td>
                   <td class="tableData" id = "supplierFullName">{{supplier.full_name}}</td>
                 </tr>

                  <tr>
                    <td>Phone Number</td>
                    <td class="tableData">{{supplier.phone_number}}</td>
                  </tr>

                  <tr>
                    <td>Mobile Number</td>
                    <td class="tableData">{{supplier.mobile_number}}</td>
                  </tr>

                  <tr>
                    <td>Email</td>
                    <td class="tableData">{{supplier.email}}</td>
                  </tr>
               </table>
              </div>
              <div class="col-sm col-md col-lg">
                <table>
                  <tr>
                    <td>Optional Email</td>
                    <td id = "supplierEmailOptional">{{supplier.email_optional}}</td>
                  </tr>

                  <tr>
                    <td>Address</td>
                    <td id = "supplieraddress">{{supplier.address}}</td>
                  </tr>

                  <tr>
                    <td>Area</td>
                    <td id = "supplierArea">{{supplier.area_street}}</td>
                  </tr>

                  <tr>
                    <td>City</td>
                    <td id = "supplierCity">{{supplier.city}}</td>
                  </tr>

                </table>
              </div>

              <div class="col-sm col-md col-lg">
                <table>
                  <tr>
                    <td>District</td>
                    <td id = "supplierDistrict">{{supplier.district}}</td>
                  </tr>

                  <tr>
                    <td>Taluka</td>
                    <td id = "supplierTaluka">{{supplier.taluka}}</td>
                  </tr>

                  <tr>
                    <td>State</td>
                    <td id = "supplierState">{{supplier.state}}</td>
                  </tr>

                  <tr>
                    <td>Pincode</td>
                    <td id = "supplierPincode">{{supplier.pincode}}</td>
                  </tr>
                </table>
              </div>

            </div>
          </div>

        </div>

        <!-- Tab Two -->
        <div class="tab-pane fade active show p-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="container-fluid dashboardMainFrame">
            <h6>Application / Dashboard</h6>

            <!-- Cards -->
            <div class="container p-2">
              <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                  <div class="card" style="background-color: #02ABC0">
                    <div class="card-body">
                      <img src="{%static 'assets/ArrowUp.svg' %}" alt="Shovel icon" class="img-fluid imgCard">
                      <h5>5</h5>
                      <h5>Leads</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                  <div class="card" style="background-color: #DC1B5E;">
                    <div class="card-body">
                      <img src="{%static 'assets/click.svg' %}" alt="Shovel icon" class="img-fluid imgCard">
                      <h5>5</h5>
                      <h5>Clicks</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                  <div class="card" style="background-color: #FB8B0D;">
                    <div class="card-body">
                      <img src="{%static 'assets/quotes.svg' %}" alt="Shovel icon" class="img-fluid imgCard">
                      <h5>5</h5>
                      <h5>Total Prodcuts</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                  <div class="card" style="background-color: #8E24A8;">
                    <div class="card-body">
                      <img src="{%static 'assets/person.svg' %}" alt="Shovel icon" class="img-fluid imgCard">
                      <h5>5</h5>
                      <h5>Total Profile Views</h5>
                    </div>
                  </div>

                </div>
              </div>


            </div>

            <!-- Chart.js -->

            <div class="container-fluid mt-5">
              <div class="row">
                <div class="col-sm -col-md col-lg clickChart">
                  <h5 class="p-3">Clicks</h5>
                  <img src="https://s3.amazonaws.com/assets.fullstack.io/n/20200309095518221_react-chartjs.png" alt="Graph Will be Here" style="padding: 12px;">
                </div>
                <div class="col-sm -col-md col-lg quotesChart">
                  <h5 class="p-3">Quotes</h5>
                  <img src="https://cdn.october.codes/images/dataviz-1.png" alt="" style="height: 15vw;">
                </div>
              </div>
            </div>

            <!-- Quotes Table -->
            <div class="container-fluid quotesTable mt-5">
              <h6 class="p-2">Quotes Requested By </h6>      
              
                  <!-- Tableeeeee -->
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Product</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
    
                    <tbody>
                      <tr>
                        <th scope="row">Ganesh Solanke</th>
                        <td>8766518297</td>
                        <td>Chicken Ham</td>
                        <td>2K</td>
                      </tr>
    
                      <tr>
                        <th scope="row">Shahid Shaikh</th>
                        <td>8087486605</td>
                        <td>Compact Rice Mill Plant</td>
                        <td>1 Set</td>
                      </tr>
    
                      <tr>
                        <th scope="row">Komal Yadav</th>
                        <td>7507968424</td>
                        <td>Pizaa Base</td>
                        <td>7 Carrot</td>
                       </tr>
    
                      <tr>
                        <th scope="row">Varsha</th>
                        <td>7721875738</td>
                        <td>Janshakti Grinder</td>
                        <td>7 Pieces</td>
                      </tr>
    
                    </tbody>
                  </table>
    
    
        <!-- Tableeeeeeeeee End -->

            </div>

          </div>
        </div>

         <!-- Tab Three -->
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="container-fluid productManagement">
            <h6>Product Management</h6>

            <div class="container" id = >
              <button class="btn btn-primary" data-toggle = "modal" data-target=".addProduct"> New Product </button>
            </div>

            <div class="container-fluid mt-2 mb-2 productTable">
              <table class = "table table-striped table-bordered" data-toggle="table" data-pagination="true" data-search="true"
              data-search-align="left" data-show-fullscreen="true" data-show-toggle="true">
                
                <thead>
                  <tr>
                    <th data-field="productName" data-sortable="true">Product Name</th>
                    <th data-field="createddate" data-sortable="true">Created Date</th>
                    <th data-field="category" data-sortable="true">Category</th>
                    <th data-field="price" data-sortable="true">Price</th>
                    <th data-field="clicks" data-sortable="true">Clicks</th>
                    <th>Edit</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th>Tiler</th>
                    <td>May 08 2019</td>
                    <td>Agro Machineries</td>
                    <td>2000/Machine</td>
                    <td>7</td>
                    <th>Edit</th>
                  </tr>

                  <tr>
                    <th>Seeds</th>
                    <td>March 11 2020</td>
                    <td>Farming</td>
                    <td>2000/Bag</td>
                    <td>30</td>
                    <th>Edit</th>
                  </tr>

                  <tr>
                    <th>PVC Pipes</th>
                    <td>May 10 2019</td>
                    <td>Pipes</td>
                    <td>70/Meter</td>
                    <td>15</td>
                    <th>Edit</th>
                   </tr>

                  <tr>
                    <th>Harvester</th>
                    <td>18 June 2020</td>
                    <td>Agro Machineries</td>
                    <td>100000/Machine</td>
                    <td>8</td>
                    <th>Edit</th>
                  </tr>
                </tbody>
               
                <tfoot>
                    <tr>
                      <th>Tiler</th>
                      <td>January 20 2019</td>
                      <td>Farming</td>
                      <td>2000/Machine</td>
                      <td>7</td>
                    </tr>
                </tfoot>

              </table>
            </div>

          </div>
        </div>  
    </div>

  {% endif %}
</div>



  <!-- EditModal -->
{% if designation == "Not Found" %}
<div class="modal fade editPersonalDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Personal Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form id = "personalDetail">
          {% csrf_token %}

          <div class="form-group">
            {{supplierProfileForm.full_name}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.designation}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.phone_number}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.mobile_number}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.email}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.email_optional}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.address}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.area_street}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.city}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.district}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.taluka}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.state}}
          </div>

          <div class="form-group">
            {{supplierProfileForm.pincode}}
          </div>

          <div class="form-group text-center">
            <input type="submit" value="Save" class="btn btn-primary">
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
{% endif %}

{% if business == "Not Found" %}
<div class="modal fade editBusinessDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Business Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "businessDetail">
          {% csrf_token %}

          <div class="form-group">
            {{businessProfileForm.name}}
          </div>

          <div class="form-group">
            {{businessProfileForm.organisation_type}}
          </div>

          <div class="form-group">
            {{businessProfileForm.ownership_type}}
          </div>

          <div class="form-group">
            {{businessProfileForm.business_type}}
          </div>

          <div class="form-group">
            {{ businessProfileForm.business_email}}
          </div>

          <div class="form-group">
            {{businessProfileForm.website_link}}
          </div>

          <div class="form-group">
            {{businessProfileForm.address}}
          </div>

          <div class="form-group">
            {{businessProfileForm.year_of_establishment}}
          </div>

          <div class="form-group">
            {{businessProfileForm.description}}
          </div>

          <div class="form-group">
            {{businessProfileForm.GST}}
          </div>

          <div class="form-group">
            {{businessProfileForm.PAN}}
          </div>

          <div class="form-group">
            {{businessProfileForm.CIN}}
          </div>

          <div class="form-group">
            {{businessProfileForm.DGFT}}
          </div>

          <div class="form-group text-center">
            <input type="submit" value="Save" class="btn btn-primary">
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
{% endif %}


<!-- ------------Add Product -->
<div class="modal fade addProduct" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "addProduct">
          <div class="form-group">
            <div class="row">
              <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Upload Product Image</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Upload Product Image</small></label>
                </div>
                <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
              </div>
            </div>
            <div class="form-group">
                <label for="product_name">Product Name</label>
                <input class="form-control" type="text" name="product_name" id="product_name">
            </div>

            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" name="prodcut_price" id="prodcut_price">
            </div>

            <div class="form-group">
              <label for="prodcut_arrival">Arrival</label>
              <select class="form-control" id="prodcut_arrival">
                <option value="">---------</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>

            <div class="form-group">
              <label for="prodcut_unit">Unit</label>
              <select class="form-control" id="prodcut_unit">
                <option value="">---------</option>
                <option value="Kg">Kg</option>
                <option value="pack">pack</option>
                <option value="Unit">Unit</option>
              </select>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
            </div>

            <div class="form-group">
              <label for="main_category">Main Category</label>
              <select class="form-control" name="main_category" id="main_category" onselect = getCategory(this.value)>

                {% for m in mainCategories%}
                  <option value = {{m.pk}}>{{m.name}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="sub_main_category">Sub Category</label>
              <select class="form-control" name="sub_main_category" id="sub_main_category"></select>
            </div>

            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control" name="category" id="category"></select>
            </div>

            <div class="form-group">
              <label for="brand">Brand</label>
              <input class="form-control" type="text" name="product_brand" id="product_brand">
            </div>

            <div class="form-group">
              <label for="code">Code</label>
              <input class="form-control" type="text" name="product_code" id="product_code">
            </div>

            <div class="form-group">
              <label for="additional_information">Additional Information</label>
              <input class="form-control" type="text" name="product_additional_information" id="product_additional_information">
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Update Modals -->
<div class="modal fade updatePersonalDetail" id = "updatePersonalDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Personal Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form id = "updatePersonalDetail">
          {% csrf_token %}

          <div class="form-group">
            <label for="Full Name">Full Name</label>
            {{supplierProfileForm.full_name}}
          </div>

          <div class="form-group">
            <label for="emailOptional">Email Optional</label>
            {{supplierProfileForm.email_optional}}
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            {{supplierProfileForm.address}}
          </div>

          <div class="form-group">
            <label for="area_street">Area/Street</label>
            {{supplierProfileForm.area_street}}
          </div>

          <div class="form-group">
            <label for="city">City</label>
            {{supplierProfileForm.city}}
          </div>

          <div class="form-group">
            <label for="district">District</label>
            {{supplierProfileForm.district}}
          </div>

          <div class="form-group">
            <label for="taluka">Taluka</label>
            {{supplierProfileForm.taluka}}
          </div>

          <div class="form-group">
            <label for="state">State</label>
            {{supplierProfileForm.state}}
          </div>

          <div class="form-group">
            <label for="pincode">Pincode</label>
            {{supplierProfileForm.pincode}}
          </div>

          <div class="form-group text-center">
            <input type="submit" value="Save" class="btn btn-primary">
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade updateBusinessDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Business Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "updateBusinessDetail">
          {% csrf_token %}

          <div class="form-group">
            <label for="business_type">Business Type</label>
            {{businessProfileForm.business_type}}
          </div>

          <div class="form-group">
            <label for="business_email">Business Email</label>
            {{ businessProfileForm.business_email}}
          </div>

          <div class="form-group">
            <label for="organistaion_type">Organisation Type </label>
            {{businessProfileForm.organisation_type}}
          </div>

          <div class="form-group">
            <label for="ownership_type">Ownership Type</label>
            {{businessProfileForm.ownership_type}}
          </div>

          <div class="form-group">
            <label for="website_link">Website Link</label>
            {{businessProfileForm.website_link}}
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            {{businessProfileForm.address}}
          </div>

          <div class="form-group text-center">
            <input type="submit" value="Save" class="btn btn-primary">
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

<!--Script For Update-->
{% if business == "Not Found" or desgination == "Not Found"%}
<script>
$(document).on('submit','#personalDetail', function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'Supplier/personalDetail',
      data:{
        request : "Edit",
        fullName : $('#fullName').val(),
        designation : $('#desgination').val(),
        phone  : $('#phone_number').val(),
        mobile : $('#mobile_number').val(),
        email : $('#email').val(),
        emailOptional : $('#email_optional').val(),
        address : $('#address').val(),
        area : $('#area_street').val(),
        city : $('#city').val(),
        district : $('#district').val(),
        taluka : $('#taluka').val(),
        state : $('#state').val(),
        pincode : $('#pincode').val(),
        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(response){
        console.log("Insdide Console")
        if(response.status == "0")
        {
          if(response.profileComplete == "0"){
            window.location = "/Supplier/"+response.email
          }
          else{
            document.getElementById("personalUpdateStatus").innerHTML = "Updated";
            $('#editPersonalDetail').modal('hide')
          }
        }
        else
        {
          alert(response.message)
        }      
      }
    });
  });

$(document).on('submit','#businessDetail', function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'Supplier/businessDetail',
      data:{ 
        request : "Edit",
        supplierEmail :  $('#email').val(),
        name : $('#name').val(),
        organisationType : $('#organisationType').val(),
        ownershipType  : $('#ownershipType').val(),
        businessType : $('#businessType').val(),
        businessEmail : $('#businessEmail').val(),
        websiteLink : $('#websiteLink').val(),
        address : $('#address').val(),
        establishment : $('#establishment').val(),
        description : $('#description').val(),
        GST : $('#GST').val(),
        PAN : $('#PAN').val(),
        CIN : $('#CIN').val(),
        DGFT : $('#DGFT').val(),
        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(response){
        if(response.profileComplete == "0"){
          window.location = "/Supplier/"+response.email
        }
        else{
          document.getElementById("businessUpdateStatus").innerHTML = "Updated";
          $('#editBusinessDetail').modal('hide')
        }
        
      }
    });
  });
</script>
{% endif %}

<!--Script For Edit-->
<script>
$(document).on('submit','#updatePersonalDetail', function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'Supplier/personalDetail',
      data:{
        request : "Update",
        fullName : $('#fullName').val(),
        emailOptional : $('#email_optional').val(),
        address : $('#address').val(),
        area : $('#area_street').val(),
        city : $('#city').val(),
        district : $('#district').val(),
        taluka : $('#taluka').val(),
        state : $('#state').val(),
        pincode : $('#pincode').val(),
        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(response){
        if(response.status == "0"){
          var supplier = response.supplier
          console.log(supplier)
          $('#updatePersonalDetail').modal('hide')
          document.getElementById("supplierFullName").innerHTML = supplier.full_name;
          document.getElementById("supplierEmailOptional").innerHTML = supplier.email_optional;
          document.getElementById("supplieraddress").innerHTML = supplier.address;
          document.getElementById("supplierArea").innerHTML = supplier.area_street;
          document.getElementById("supplierCity").innerHTML = supplier.city;
          document.getElementById("supplierDistrict").innerHTML = supplier.district;
          document.getElementById("supplierTaluka").innerHTML = supplier.taluka;
          document.getElementById("supplierState").innerHTML = supplier.state;
          document.getElementById("supplierPincode").innerHTML = supplier.pincode;
        }
      }
    });
  });


$(document).on('submit','#updateBusinessDetail', function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'Supplier/businessDetail',
      data:{
        request : "Update",
        businessType : $('#businessType').val(),
        businessEmail : $('#businessEmail').val(),
        organisationType : $('#organisationType').val(),
        ownershipType  : $('#ownershipType').val(),
        websiteLink : $('#websiteLink').val(),
        address : $('#address').val(),
        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(response){
        if(response.status == "0"){
          business = response.business
          console.log(business)
          $('.updateBusinessDetail').modal('hide')
          document.getElementById("BusinessType").innerHTML = business.business_type;
          document.getElementById("BusinessEmail").innerHTML = business.business_email;
          document.getElementById("OrganisationType").innerHTML = business.organisation_type;
          document.getElementById("OwnershipType").innerHTML = business.ownership_type;
          document.getElementById("WebsiteLink").innerHTML = business.website_link;
          document.getElementById("Address").innerHTML = business.address;
        }
      }
    });
  });

// Product Fetch categories...

function getCategory(value){
  console.log("Selected Value" + value)
}

//To review Image
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imageResult')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}
</script>

{% endblock %}