@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


body{
font-family: 'Baloo Tammudu 2', cursive;
background-color:#e2e6df;
}
/* nav bar---//*/

.CategoryHead{
background-color: #e2e6df;
}

/*mediaQuery--*/
.modal .modal-header .modal-title{
font-weight:600;
padding-top: 5px;
}
@media (min-width: 300px) and (max-width: 500px)
{

.CategoryHead .heading h2{
font-weight: 500;
font-size: 20px;
color: #303a52;
margin-top: 30px;
margin-bottom: 10px;
color: #000000;   
}
@media(max-width: 320px){
.CategoryHead .heading h2{
font-size: 18px;
margin-bottom: -10px;
}
.modal .modal-header .modal-title{
font-weight:600;
font-size: 16px;
padding-top: 2px;
}
}

.ftco-section {
padding: 2rem 0;
position: relative;
background-color:#e2e6df;
padding-top: 0px;
}


.ftco-no-pt {
padding-top: 5px; !important; }

.ftco-intro .services {
padding: 10px;
background: #fff;
border-radius: 4px; }

.services {
display: block;
width: 90%;
position: relative;
background: #fff;
margin-left: 20px;
margin-bottom: 20px;
-webkit-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }


.services .media-body {
margin-top: 10px;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }

.services .media-body h3 {
font-weight: 600;
font-size: 17px;
margin-bottom: 30px;
color: #000000;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.align-self-stretch{
margin-bottom: 20px;
}
.services .media-body img{
margin-bottom: 25px;
width: 200px;
height: 150px;
margin-top: -20px;
}
.services .media-body .btn-custom {
position: absolute;
bottom: -15px;
left: 0;
right: 0;
margin: 0 auto;
align-content: center;
margin-left:120px; 
width: 40px;
height: 40px;
border-radius: 50%;
background: #303a52;
-webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15); }
@media(max-width: 320px){
.services .media-body .btn-custom{
margin-left:100px; 
}
}
.services .media-body .btn-custom span {
color: #fff; }
.services:hover, .services.active {
background: #303a52; }
.services:hover .icon, .services.active .icon {
background: #fff; }
.services:hover .media-body, .services.active .media-body {
color: rgba(255, 255, 255, 0.9); }
.services:hover .media-body h3, .services.active .media-body h3 {
color: #fff; }
.services:hover .btn-custom, .services.active .btn-custom {
background: #fff;
right: -20px; }
.services:hover .btn-custom span, .services.active .btn-custom span {
color: #303a52; }

.media-body {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1; }


.modal{
align-self: center;
max-height: 90%;
}


/* supplier*/
.testimony-section .heading-section h2{
font-weight: 600px;
font-size: 20px;
border-bottom: 2px solid black;
color: #303a52;
margin-top: 20px;
margin-bottom: 10px;
color: #000000;     
}
.ftco-card .testimony-wrap {
margin-left:5px;
margin-bottom: 0px;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
''
.testimony-section .services {
padding: 5px;
padding-bottom: 0px;
background: #fff;
border-radius: 4px; }

.ftco-card {
display: block;
width: 100%;
position: relative;
background: #fff;
padding: 2px;
margin-left:5px; margin-right: 5px;
-webkit-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.ftco-sup .align-self-stretch{
margin-bottom: 10px;
margin-top: -10px;
}
.ftco-card .testimony-wrap img{
height: 60px;
width: 60px;
margin-top: -10px;
}
.testimony-wrap .mb-4{ margin-right: -7px; }
.testimony-wrap .sup-cont{ margin-top: -10px; }             
.services .testimony-wrap .btn-sm {
position: absolute;
padding: 4px;
margin-top: 2px;
margin-left: 11rem;
width: 100px;
height: 30px;
color: #fff;
background: #303a52;
} 
@media (min-width: 360px)and (max-width: 360px){.testimony-wrap .ftco-cont{font-size: 14px;}
    .services .testimony-wrap .btn-sm{
        margin-left: 11rem;
        width: 90px;
        height: 30px;}}                                               ''
@media (min-width: 411px)and (max-width: 411px){.services .testimony-wrap .btn-sm{
            margin-left: 15rem;
            width: 120px;
            height: 30px;}
        .ftco-card .testimony-wrap {margin-left: 2px;}}
@media (min-width: 320px)and (max-width: 320px){.services .testimony-wrap .btn-sm{
            margin-left: 10rem;
            width: 90px;
            height: 25px;
            font-size: 11.5px;
            padding-bottom: -2px;}
        .testimony-wrap .ftco-cont{font-size: 12px;}
        .ftco-card .testimony-wrap {margin-left: 2px;}}
@media (min-width: 375px)and (max-width: 375px){.testimony-wrap .ftco-cont{font-size: 14px;}
    .services .testimony-wrap .btn-sm{
        margin-left: 12rem;
        width: 10   px;
        height: 30px;}}  
.services .testimony-wrap .btn-sm  {
color: #fff; }
.services:hover, .services.active {
background: #303a52; }
.services:hover .testimony-wrap, .services.active .testimony-wrap {
color: rgba(255, 255, 255, 0.9); }
.services:hover .testimony-wrap p{
color: #fff; }
.services:hover .testimony-wrap small{
color: #ccc; }
.services:hover .btn-sm, .services.active .btn-sm {
background: #fff;
right: -5x; }
.services:hover .btn-sm, .services.active .btn-sm {
color: #303a52; }


}

@media (min-width: 500px) and (max-width: 700px) {
.CategoryHead .heading h2{
font-weight: 600;
font-size: 22px;
color: #303a52;
margin-top: 20px;
margin-bottom: 10px;
color: #000000;   
}
@media(max-width: 320px){
.CategoryHead .heading h2{
font-weight: 600;
font-size: 18px;
color: #303a52;
margin-top: 20px;
margin-bottom: -10px;
color: #000000;   }
}

.ftco-section {
padding: 2em 0;
position: relative;
background-color:#e2e6df;
padding-top: 0px;
}


.ftco-no-pt {
padding-top: 5px; !important; }

.ftco-intro .services {
padding: 10px;
background: #fff;
border-radius: 4px; }

.services {
display: block;
width: 90%;
position: relative;
background: #fff;
margin-left: 20px;
margin-bottom: 20px;
-webkit-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }

.services .media-body {
margin-top: 10px;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }

.services .media-body h3 {
font-weight: 600;
font-size: 17px;
margin-bottom: 30px;
color: #000000;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.align-self-stretch{
margin-bottom: 20px;
}
.services .media-body img{
margin-bottom: 25px;
width: 200px;
height: 150px;
margin-top: -20px;
}
.services .media-body .btn-custom {
position: absolute;
bottom: -15px;
left: 0;
right: 0;
margin: 0 auto;
margin-left:140px; 
width: 40px;
height: 40px;
border-radius: 50%;
background: #303a52;
-webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15); }
@media(max-width: 320px){
.services .media-body .btn-custom{
margin-left:110px; 
}
}
.services .media-body .btn-custom span {
color: #fff; }
.services:hover, .services.active {
background: #303a52; }
.services:hover .icon, .services.active .icon {
background: #fff; }
.services:hover .media-body, .services.active .media-body {
color: rgba(255, 255, 255, 0.9); }
.services:hover .media-body h3, .services.active .media-body h3 {
color: #fff; }
.services:hover .btn-custom, .services.active .btn-custom {
background: #fff;
right: -20px; }
.services:hover .btn-custom span, .services.active .btn-custom span {
color: #303a52; }


.media-body {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1; }


.modal{
align-self: center;
max-height: 90%;
}

}


/*-- i-pad ---*/
@media (min-width: 700px) and (max-width: 900px) {

.CategoryHead .heading h2{
font-weight: 700;
font-size: 24px;
color: #303a52;
margin-top: 50px;
margin-bottom: 10px;
color: #000000;    
}

.ftco-section {
padding: 3em 0;
position: relative;
background-color:#e2e6df;
padding-top: 2px;
}
.ftco-no-pt {
padding-top: 10px; !important; }

.ftco-intro .services {
padding: 5px;
background: #fff;
border-radius: 4px; }

.services {
display: block;
width: 100%;
position: relative;
background: #fff;
margin-left: 0px;
margin-bottom: 0px;
-webkit-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }

.services .media-body {
margin-top: 20px;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }

.services .media-body h3 {
font-weight: 300;
font-size: 16px;
margin-bottom: 0px;
color: #000000;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.align-self-stretch{
margin-bottom: 30px;
}
.services .media-body img{
margin-bottom: 30px;
width: 180px;
height: 130px;
margin-top: 10px;
}
.services .media-body .btn-custom {
position: absolute;
bottom: -15px;
left: 0;
right: 0;
margin: 0 auto;
margin-left:90.5px;
width: 35px;
height: 35px;
border-radius: 50%;
background: #303a52;
-webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15); }
.services .media-body .btn-custom span {
color: #fff; }
.services:hover, .services.active {
background: #303a52; }
.services:hover .icon, .services.active .icon {
background: #fff; }
.services:hover .media-body, .services.active .media-body {
color: rgba(255, 255, 255, 0.9); }
.services:hover .media-body h3, .services.active .media-body h3 {
color: #fff; }
.services:hover .btn-custom, .services.active .btn-custom {
background: #fff;
right: -20px; }
.services:hover .btn-custom span, .services.active .btn-custom span {
color: #303a52; }

.media-body {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1; }

.modal{
align-self: center;
width: 95%;
max-height: 90%;
}
}

/* supplier*/
@media (min-width: 750px) and (max-width: 800px)
{
/* Supplier cards-- */
.testimony-section .heading-section h2{
font-weight: 600px;
font-size: 30px;
border-bottom: 2px solid black;
color: #303a52;
margin-top: 25px;
margin-bottom: 10px;
color: #000000;     
}
.ftco-card .testimony-wrap {
margin: 3px;
margin-bottom: 0px;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }

.testimony-section .services {
padding: 10px;
padding-bottom: 0px;
background: #fff;
border-radius: 4px; }

.ftco-card {
display: block;
width: 100%;
position: relative;
background: #fff;
padding: 4px;
margin-left:0px;
margin-right: 30px;
margin-bottom: 20px;
-webkit-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.ftco-sup .align-self-stretch{
margin-bottom: 20px;
margin-top: -20px;
}
.ftco-card .testimony-wrap img{
height: 60px;
width: 60px;
padding: 3px;
margin-top: -15px;
}
.testimony-wrap .ftco-cont{font-size: 12px;}
.ftco-card .testimony-wrap {margin-left: 2px;}
.ftco-cont .col-8{margin-left: 30px;}
.ftco-cont .sup-cont{margin-top: -7px}
.services .testimony-wrap .btn-sm {
position: absolute;
padding: 4px;
margin-top: 2px;
margin-left: 100px;
width: 90px;
height: 25px;
color: #fff;
background: #303a52;
}
.services .testimony-wrap .btn-sm  {
color: #fff; }
.services:hover, .services.active {
background: #303a52; }
.services:hover .testimony-wrap, .services.active .testimony-wrap {
color: rgba(255, 255, 255, 0.9); }
.services:hover .testimony-wrap p{
color: #fff; }
.services:hover .testimony-wrap small{
color: #ccc; }
.services:hover .btn-sm, .services.active .btn-sm {
background: #fff;
right: -5x; }
.services:hover .btn-sm, .services.active .btn-sm {
color: #303a52; }

/*//supplier card--*/
}



/* i-pad pro--*/
@media (min-width: 900px) and (max-width: 1200px) {

.CategoryHead .heading h2{
font-weight: 600;
font-size: 30px;
color: #303a52;
margin-top: 30px;
margin-bottom: 10px;
color: #000000;
padding-top: 20px;
}
.ftco-section {
padding: 5em 0;
position: relative;
background-color:#e2e6df;
padding-top: 20px;
}

.ftco-no-pt {
padding-top: 80px; !important; }

.ftco-intro .services {
padding: 20px;
background: #fff;
border-radius: 4px; }

.services {
display: block;
width: 100%;
position: relative;
background: #fff;
margin-top: -40px;
margin-bottom: 80px;
-webkit-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }


.services .media-body {
margin-top: -15px;
margin-bottom: 20px;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }

.services .media-body h3 {
font-weight: 600;
font-size: 19px;
margin-top: 30px;
color: #000000;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.align-self-stretch{
margin-bottom: 20px;
}
.services .media-body img{
margin-bottom: 10px;
width: 240px;
height: 180px;
margin-top: 20px;
}
.services .media-body .btn-custom {
position: absolute;
bottom: -25px;
left: 0;
right: 0;
margin: 0 auto;
margin-left:120.5px;
width: 50px;
height: 50px;
border-radius: 50%;
background: #303a52;
-webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15); }
.services .media-body .btn-custom span {
color: #fff; }
.services:hover, .services.active {
background: #303a52; }
.services:hover .icon, .services.active .icon {
background: #fff; }
.services:hover .media-body, .services.active .media-body {
color: rgba(255, 255, 255, 0.9); }
.services:hover .media-body h3, .services.active .media-body h3 {
color: #fff; }
.services:hover .btn-custom, .services.active .btn-custom {
background: #fff;
right: -20px; }
.services:hover .btn-custom span, .services.active .btn-custom span {
color: #303a52; }
@media (max-width: 991.98px) {
.services {
margin-bottom: 30px; } }

.media-body {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1; }

.modal{
align-self: center;
width: 95%;
max-height: 90%;
}
/* Supplier cards-- */
.testimony-section .heading-section h2{
font-weight: 600px;
font-size: 30px;
border-bottom: 2px solid black;
color: #303a52;
margin-top: -70px;
margin-bottom: 20px;
color: #000000;     
}
.ftco-card .testimony-wrap {
margin: 3px;
margin-bottom: 0px;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }

.testimony-section .services {
padding: 10px;
padding-bottom: 0px;
background: #fff;
border-radius: 4px; }

.testimony-section{margin:10px;}
.ftco-card {
display: block;
width: 100%;
position: relative;
background: #fff;
padding: 4px;
margin-left:0px; margin-right:0px;
-webkit-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.ftco-sup .align-self-stretch{
margin-bottom: 20px;
margin-top: -20px;
}
.ftco-card .testimony-wrap img{
height: 60px;
width: 60px;
margin-top: -10px;
}
.testimony-wrap .ftco-cont{font-size: 13.5px;}
.ftco-card .testimony-wrap {margin-left: 0px;}
.ftco-cont .col-8{margin-left: 30px;}
.ftco-cont .sup-cont{margin-top: -7px}
.services .testimony-wrap .btn-sm {
position: absolute;
padding: 4px;
margin-top: 2px;
margin-left: 150px;
width: 130px;
height: 30px;
font-size: 13px;
color: #fff;
background: #303a52;
}
.services .testimony-wrap .btn-sm  {
color: #fff; }
.services:hover, .services.active {
background: #303a52; }
.services:hover .testimony-wrap, .services.active .testimony-wrap {
color: rgba(255, 255, 255, 0.9); }
.services:hover .testimony-wrap p{
color: #fff; }
.services:hover .testimony-wrap small{
color: #ccc; }
.services:hover .btn-sm, .services.active .btn-sm {
background: #fff;
right: -5x; }
.services:hover .btn-sm, .services.active .btn-sm {
color: #303a52; }

/*//supplier card--*/

}

@media (min-width: 1200px)
{
.CategoryHead .heading h2{
font-weight: 600px;
font-size: 35px;
border-bottom: 2px solid black;
color: #303a52;
margin-top: 50px;
margin-bottom: 20px;
color: #000000;     
}

.ftco-section {
padding: 5em 0;
position: relative;
background-color:#e2e6df;
padding-top: 10px;
}

.ftco-no-pt {
padding-top: 30px; !important; }

.ftco-intro .services {
padding: 20px;
background: #fff;
border-radius: 4px; }


.services {
display: block;
width: 90%;
position: relative;
background: #fff;
margin-bottom: 30px;
-webkit-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }


.services .media-body {
margin-top: 10px;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }

.services .media-body h3 {
font-weight: 600;
font-size: 20px;
margin-bottom: 30px;
color: #000000;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.align-self-stretch{
margin-bottom: 110px;
}
.services .media-body img{
margin-bottom: 35px;
width: 250px;
height: 200px;
margin-top: -10px;
}
.services .media-body .btn-custom {
position: absolute;
bottom: -25px;
left: 0;
right: 0;
margin: 0 auto;
margin-left: 130.5px;
width: 50px;
height: 50px;
border-radius: 50%;
background: #303a52;
-webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15); }
.services .media-body .btn-custom span {
color: #fff; }
.services:hover, .services.active {
background: #303a52; }
.services:hover .icon, .services.active .icon {
background: #fff; }
.services:hover .media-body, .services.active .media-body {
color: rgba(255, 255, 255, 0.9); }
.services:hover .media-body h3, .services.active .media-body h3 {
color: #fff; }
.services:hover .btn-custom, .services.active .btn-custom {
background: #fff;
right: -20px; }
.services:hover .btn-custom span, .services.active .btn-custom span {
color: #303a52; }

.media-body {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1; }

/* Supplier cards-- */
.testimony-section .heading-section h2{
font-weight: 600px;
font-size: 32px;
border-bottom: 2px solid black;
color: #303a52;
margin-top: -70px;
margin-bottom: -90px;
color: #000000;     
}

.ftco-card .testimony-wrap {
margin: 3px;
margin-bottom: 0px;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.testimony-section{margin:10px;}
.testimony-section .services {
padding: 10px;
padding-bottom: 0px;
background: #fff;
border-radius: 4px; }

.ftco-card {
display: block;
width: 100%;
position: relative;
background: #fff;
padding: 4px;
margin-left:0px;
-webkit-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
box-shadow: 0px 6px 19px -12px rgba(0, 0, 0, 0.08);
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease; }
.ftco-sup .align-self-stretch{
margin-bottom: 20px;
margin-top: -35px;
}
.ftco-card .testimony-wrap img{
height: 60px;
width: 60px;
margin-top: -10px;
}
.services .testimony-wrap .btn-sm {
position: absolute;
padding: 4px;
margin-top: 2px;
margin-left: 12rem;
width: 150px;
height: 30px;
color: #fff;
background: #303a52;
}
.services .testimony-wrap .btn-sm  {
color: #fff; }
.services:hover, .services.active {
background: #303a52; }
.services:hover .testimony-wrap, .services.active .testimony-wrap {
color: rgba(255, 255, 255, 0.9); }
.services:hover .testimony-wrap p{
color: #fff; }
.services:hover .testimony-wrap small{
color: #ccc; }
.services:hover .btn-sm, .services.active .btn-sm {
background: #fff;
right: -5x; }
.services:hover .btn-sm, .services.active .btn-sm {
color: #303a52; }

/*//supplier card--*/

}